<h2 class="ui header">{{t 'Sessions'}}</h2>
{{#tabbed-navigation isNonPointing=true}}
  {{#link-to 'public.sessions.index' class='item'}}
    {{t 'All'}}
  {{/link-to}}
  {{#link-to 'public.sessions.list' 'Track1' class='item'}}
    {{t 'Track1'}}
  {{/link-to}}
  {{#link-to 'public.sessions.list' 'Track2' class='item'}}
    {{t 'Track2'}}
  {{/link-to}}
{{/tabbed-navigation}}
{{outlet}}
